In [1]:
import pandas as pd
from sqlalchemy import create_engine
import time

### Prepare the data

In [5]:
# Download the green taxi trips data for November 2025:

# ```bash
# wget https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet
# ```

# You will also need the dataset with zones:

# ```bash
# wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
# ```

!wget https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2026-01-14 18:56:01--  https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet
Resolvendo d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 2600:9000:28a3:9000:b:20a5:b140:21, 2600:9000:28a3:7c00:b:20a5:b140:21, 2600:9000:28a3:3000:b:20a5:b140:21, ...
Conectando-se a d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|2600:9000:28a3:9000:b:20a5:b140:21|:443... conectado.
A requisição HTTP foi enviada, aguardando resposta... 200 OK
Tamanho: 1164775 (1,1M) [binary/octet-stream]
Salvando em: “green_tripdata_2025-11.parquet.1”

green_tripdata_2025 100%[===================>]   1,11M  5,43MB/s    em 0,2s

2026-01-14 18:56:01 (5,43 MB/s) - “green_tripdata_2025-11.parquet.1” salvo [1164775/1164775]

--2026-01-14 18:56:01--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolvendo github.com (github.com)... 140.82.113.3
Conectando-se a github.com (github.com)|140.82.113.3|:443... conectado.
A requisição HTTP foi enviada, aguardando resposta... 302 Found
Localização: https://release-assets.githubusercontent.com/github-production-release-asset/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?sp=r&sv=2018-11-09&sr=b&spr=https&se=2026-01-15T00%3A36%3A49Z&rscd=attachment%3B+filename%3Dtaxi_zone_lookup.csv&rsct=application%2Foctet-stream&skoid=96c2d410-5711-43a1-aedd-ab1947aa7ab0&sktid=398a6654-997b-47e9-b12b-9515b896b4de&skt=2026-01-14T23%3A36%3A26Z&ske=2026-01-15T00%3A36%3A49Z&sks=b&skv=2018-11-09&sig=oU4DGeEH5gSOO%2B2hLd89Tf%2BP%2B%2BTn520DNt9W75ivpz4%3D&jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmVsZWFzZS1hc3NldHMuZ2l0aHVidXNlcmNvbnRlbnQuY29tIiwia2V5Ijoia2V5MSIsImV4cCI6MTc2ODQzNTI0OCwibmJmIjoxNzY4NDM0OTQ4LCJwYXRoIjoicmVsZWFzZWFzc2V0cHJvZHVjdGlvbi5ibG9iLmNvcmUud2luZG93cy5uZXQifQ.iMMiJUwAVc3Kk7xuZS7ugwz45fuzd81-ZlnAPfdFqOM&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [redirecionando]
--2026-01-14 18:56:02--  https://release-assets.githubusercontent.com/github-production-release-asset/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?sp=r&sv=2018-11-09&sr=b&spr=https&se=2026-01-15T00%3A36%3A49Z&rscd=attachment%3B+filename%3Dtaxi_zone_lookup.csv&rsct=application%2Foctet-stream&skoid=96c2d410-5711-43a1-aedd-ab1947aa7ab0&sktid=398a6654-997b-47e9-b12b-9515b896b4de&skt=2026-01-14T23%3A36%3A26Z&ske=2026-01-15T00%3A36%3A49Z&sks=b&skv=2018-11-09&sig=oU4DGeEH5gSOO%2B2hLd89Tf%2BP%2B%2BTn520DNt9W75ivpz4%3D&jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmVsZWFzZS1hc3NldHMuZ2l0aHVidXNlcmNvbnRlbnQuY29tIiwia2V5Ijoia2V5MSIsImV4cCI6MTc2ODQzNTI0OCwibmJmIjoxNzY4NDM0OTQ4LCJwYXRoIjoicmVsZWFzZWFzc2V0cHJvZHVjdGlvbi5ibG9iLmNvcmUud2luZG93cy5uZXQifQ.iMMiJUwAVc3Kk7xuZS7ugwz45fuzd81-ZlnAPfdFqOM&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolvendo release-assets.githubusercontent.com (release-assets.githubusercontent.com)... 185.199.109.133, 185.199.111.133, 185.199.108.133, ...
Conectando-se a release-assets.githubusercontent.com (release-assets.githubusercontent.com)|185.199.109.133|:443... conectado.
A requisição HTTP foi enviada, aguardando resposta... 200 OK
Tamanho: 12322 (12K) [application/octet-stream]
Salvando em: “taxi_zone_lookup.csv.1”

taxi_zone_lookup.cs 100%[===================>]  12,03K  --.-KB/s    em 0s

2026-01-14 18:56:02 (91,1 MB/s) - “taxi_zone_lookup.csv.1” salvo [12322/12322]

### Run and connect to Postgres via Docker

In [5]:
# Making sure to run Postgres via Docker:

# docker run -it \
#   -e POSTGRES_USER=postgres \
#   -e POSTGRES_PASSWORD=postgres \
#   -e POSTGRES_DB=ny_taxi \
#   -p 5432:5432 \
#   postgres:15

engine = create_engine("postgresql://postgres:postgres@localhost:5432/ny_taxi")

In [6]:
table_name = "green_taxi_data"

print("Reading parquet file...")
df = pd.read_parquet("green_tripdata_2025-11.parquet", engine='fastparquet')
print("Preview of the dataset:")
display(df.head())

print(f"Loaded {len(df):,} rows. Writing to Postgres...")

start_time = time.time()
df.to_sql(name=table_name, con=engine, if_exists='replace', index=False)
end_time = time.time()

print(f"Success! Loaded in {(end_time-start_time):.2f} seconds.")

Reading parquet file...
Preview of the dataset:

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.2,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.0
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.2,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.0
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.5,...,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.0
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.7,...,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.0
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.4,...,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.0

Loaded 46,912 rows. Writing to Postgres...
Success! Loaded in 2.78 seconds.

In [7]:
df = pd.read_csv("taxi_zone_lookup.csv")

print("Preview of the dataset:")
display(df.head())

table_name = "taxi_zones"

df.head(0).to_sql(name=table_name, con=engine, if_exists='replace', index=False)
df.to_sql(name=table_name, con=engine, if_exists='append', index=False)

print("Success! All data loaded into Postgres!")

Preview of the dataset:

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

Success! All data loaded into Postgres!

### Question 3. Counting short trips

For the trips in November 2025 (lpep_pickup_datetime between '2025-11-01' and '2025-12-01', exclusive of the upper bound), how many trips had a `trip_distance` of less than or equal to 1 mile?

In [14]:
query = """ 
SELECT count(*) 
FROM green_taxi_data
WHERE lpep_pickup_datetime >= '2025-11-01' 
  AND lpep_pickup_datetime < '2025-12-01'
  AND trip_distance <= 1
"""

result = pd.read_sql(query, con=engine)
result

   count
0   8007

### Question 4. Longest trip for each day

Which was the pick up day with the longest trip distance? Only consider trips with `trip_distance` less than 100 miles (to exclude data errors).

Use the pick up time for your calculations.

In [23]:
query = """ 
SELECT date(lpep_pickup_datetime)
FROM green_taxi_data
WHERE 
    trip_distance = (select max(trip_distance) from green_taxi_data where trip_distance < 100)
"""

result = pd.read_sql(query, con=engine)
result

         date
0  2025-11-14

### Question 5. Biggest pickup zone

Which was the pickup zone with the largest `total_amount` (sum of all trips) on November 18th, 2025?

In [40]:
query = """
SELECT "Zone", SUM(total_amount) as total_amount
FROM green_taxi_data
JOIN taxi_zones ON "PULocationID" = "LocationID"
WHERE DATE(lpep_pickup_datetime) = '2025-11-18'
GROUP BY "Zone"
ORDER BY total_amount DESC
LIMIT 1;
"""

result = pd.read_sql(query, con=engine)
result

                Zone  total_amount
0  East Harlem North       9281.92

## Question 6. Largest tip

For the passengers picked up in the zone named "East Harlem North" in November 2025, which was the drop off zone that had the largest tip?

Note: it's `tip` , not `trip`. We need the name of the zone, not the ID.

In [57]:
query = """
SELECT "Zone", tip_amount
FROM green_taxi_data
JOIN taxi_zones ON "DOLocationID" = "LocationID"
WHERE 
    lpep_pickup_datetime >= '2025-11-01'
    AND lpep_pickup_datetime < '2025-12-01'
    AND "PULocationID" = (select "LocationID" from taxi_zones where "Zone" = 'East Harlem North')
ORDER BY tip_amount DESC
LIMIT 1;
"""

result = pd.read_sql(query, con=engine)
result

             Zone  tip_amount
0  Yorkville West       81.89

In [48]:
query = """
SELECT * from taxi_zones;
"""

result = pd.read_sql(query, con=engine)
result

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV         None
264         265        Unknown                     None         None

[265 rows x 4 columns]